.dice-svg {
  position: relative;
  filter: drop-shadow(0px 0px 12px rgba(72, 137, 255, 80%));
  transition: filter 0.2s ease-out, translate 0.2s ease;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .dice-number {
    color: black;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sparkler-light {
    position: absolute;
    top: 133%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -4.4rem;
    margin-top: -1.4rem;
    animation: sparkler-light-anim 20s infinite;
  }

  .spark {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    bottom: 4.3rem;
    left: 4.35rem;
    transform: rotate(var(--spark-rotate));
  }

  .spark::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.1rem;
    height: 2rem;
    border-radius: 0.1rem;
    opacity: 0;
    background-color: white;
    transform-origin: bottom center;
    animation: sparkler-sparkle 1.2s infinite linear;
    animation-delay: var(--spark-delay);
  }

  @keyframes sparkler-light-anim {
    0% {
      bottom: 11.5rem
    }

    100% {
      bottom: 1.5rem;
    }
  }

  @keyframes sparkler-sparkle {
    0% {
      transform: translateY(-0.5rem) scaleY(0.25);
      opacity: 0;
    }

    10% {
      transform: translateY(-1rem) scaleY(0.3);
      opacity: 0.35;
    }

    30% {
      transform: translateY(-2rem) scaleY(0.3);
      opacity: 0.7;
    }

    50% {
      transform: translateY(-3rem) scaleY(1);
      opacity: 0.7;
    }

    51% {
      opacity: 0;
      transform: translateY(-3rem) scaleY(0.5);
    }

    100% {
      opacity: 0;
      transform: translateY(0) scaleY(0.25);
    }
  }
}

.clickable:hover {
  filter: drop-shadow(0px 0px 22px rgba(72, 137, 255, 80%));
  cursor: pointer;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.magic {
  filter: drop-shadow(0px 0px 16px rgba(230, 230, 230, 80%));
}

.exploding {
  animation: shake 3s;
  animation-iteration-count: infinite;

  svg {
    z-index: 10;
    position: relative;
  }

  .dice-number {
    z-index: 10;
  }
}

.d12-svg {
  svg {
    rotate: 90deg;
  }
}

.d4-svg {
  .dice-number {
    top: 60%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}