@import '../../colors.scss';

.hamburger-menu {
  position: absolute;
  right: 2rem;
  top: 2rem;

  .menu-icon {
    height: 2rem;
    width: 2rem;

    &:hover {
      cursor: pointer;
      filter: brightness(1.5)
    }
  }
}

.MuiPaper-root.MuiMenu-paper {
  background: linear-gradient(90deg, $dark-beige 0%, lighten($dark-beige, 12%) 100%);
  background-size: cover;
  color: $light-beige;

  img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
  }
}