@import '../../colors.scss';

.attributes-container {
  margin-left: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: end;

  .dice-controller {
    display: flex;
    margin-bottom: 0.2rem;
  }

  .dice-attributes {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
  }

  .extra-attributes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .house-name {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $light-beige;

      &:hover {
        color: $medium-beige;
        cursor: pointer;
        filter: drop-shadow(0 0 1rem black);
      }

      .house-logo {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.6rem;
        border-radius: 50%;
      }
    }

    .adversity-tokens {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.2rem;
      position: relative;

      .token-count {
        font-size: 3rem;
      }

      .subtract-modifier,
      .add-modifier {
        position: absolute;
        top: 1rem;
        color: $dark-beige;
        border: 1px solid $dark-beige;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        user-select: none;

        &:hover {
          cursor: pointer;
          color: $light-beige;
          border-color: $light-beige;
        }
      }

      .subtract-modifier {
        left: -1.1rem;
      }

      .add-modifier {
        right: -1.1rem;
      }
    }
  }
}