@import '../../colors.scss';

.model-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .character {
    display: block;
    max-width: 10rem;
    max-height: 40rem;
    width: auto;
    height: auto;

    // shadow
    filter: drop-shadow(17px 13px 15px rgba(0, 0, 0, 0.8));

    animation: pivot 10s;
    animation-iteration-count: infinite;
  }

  .stand {
    display: block;
    max-width: 18rem;
    max-height: 6rem;
    width: auto;
    height: auto;
    margin-top: -3rem;
  }

  .model-selector {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 0.8rem;
      font-size: 1.3rem;
    }

    .model-option {
      color: black;
      background: $medium-beige;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.4rem;

      &:not(:last-child) {
        margin-right: 0.7rem;
      }

      &:hover {
        cursor: pointer;
        background: $light-beige;
      }
    }

    .selected-model {
      background: $light-beige;
    }
  }

  .robe-hue-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    margin-top: 0.5rem;

    .hue-selector-label {
      margin-right: 0.8rem;
      font-size: 1.3rem;
      width: 12rem;
    }

    .MuiSlider-root {
      color: $light-beige;
    }
  }
}

@keyframes pivot {
  0% {
    transform: translate(0, 0) rotateY(0deg);
  }

  15% {
    transform: translate(10px, 5px) rotateY(20deg);
  }

  30% {
    transform: translate(0, 0) rotateY(0deg);
  }

  60% {
    transform: translate(0, 0) rotateY(0deg);
  }

  75% {
    transform: translate(-10px, 5px) rotateY(-20deg);
  }

  90% {
    transform: translate(0, 0) rotateY(0deg);
  }

  100% {
    transform: translate(0, 0) rotateY(0deg);
  }
}