@import '../../colors.scss';

.custom-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .switch-label {
        margin: 0.6rem 0.4rem;
        font-size: 1.2rem;
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }

    .switch-label-selected {
        color: $light-blue;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 4rem;
        transition: 0.4s;

        &::before {
            position: absolute;
            content: "";
            height: 1.4rem;
            width: 1.4rem;
            left: 0.3rem;
            bottom: 0.3rem;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus+.slider {
            box-shadow: 0 0 1px $light-blue;
        }
    }

    .slider-selected {
        background-image: linear-gradient(to right, $medium-blue, $light-blue);

        &::before {
            transform: translateX(1.5rem);
        }
    }
}