@import '../../colors.scss';

.wand-selector {
    display: flex;
    flex-direction: column;

    .wood-container,
    .core-container {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 2rem;
        }

        label {
            color: $light-beige;
            margin-right: 1rem;
            width: 10rem;
        }

        select {
            font-size: 1rem;
            width: 100%;
            background-color: $dark-beige;
            color: $light-beige;
            border: 1px solid $light-beige;
            border-radius: 0.4rem;
            font-family: 'mrdarcyregular';
        }
    }
}