@import '../../colors.scss';

.modifier-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .modifier,
  .empty-modifier {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: rgb(0, 253, 256);
    font-family: monospace;
  }

  .empty-modifier {
    opacity: 0%;
    width: 1.3rem;
    transition: opacity 0.1s ease;
  }

  .subtract-modifier,
  .add-modifier {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    color: $light-blue;
    border: 1px solid $light-blue;
    border-radius: 50%;
    height: 0.3rem;
    width: 0.3rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    transition: opacity 0.3s ease;
    user-select: none;

    &:hover {
      font-weight: bold;
      color: $light-beige;
      border: 1px solid $light-beige;
    }
  }

  .add-modifier {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  &:hover {
    .empty-modifier {
      opacity: 100%;
    }

    .subtract-modifier,
    .add-modifier {
      opacity: 100%;
    }

    cursor: pointer;
  }
}

.dice-container {
  width: 100%;

  .edit-button {
    filter: brightness(0.4);
    transition: 0.1s ease-out;
    height: 1.4rem;
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;

    &:hover {
      cursor: pointer;
      filter: brightness(1);
    }
  }
}