@import '../../colors.scss';

.dice-selector {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-bottom: 2rem;
    grid-row-gap: 1rem;
}

.roll-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .plus,
    .minus,
    .equals {
        font-size: 3rem;
        margin: 0 1rem;
        color: $light-beige;
    }

    .modifier-roll-value {
        color: $light-beige;
        font-size: 3rem;
    }

    .roll-total {
        font-size: 4rem;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 100%));
        color: rgb(0, 253, 256);
    }
}