@import '../../colors.scss';

.likes-selector {
    ul {
        margin: 0 0 2rem 0;
        list-style: none;
    }

    .like-container {
        color: $medium-beige;
        font-size: 1.2rem;
        position: relative;
        margin-bottom: 0.4rem;

        input {
            padding: 0;
            background: none;
            border: none;
            color: $light-beige;
            font-family: 'mrdarcyregular';
            font-size: 1.2rem;
            font-weight: bold;
            min-width: 5rem;
        }

        input:focus-visible {
            outline: none;
        }

        &.new-like {
            border: 1px solid white;
            background: $light-beige;
            border-radius: 0.3rem;
            padding: 0.1rem 0.6rem;

            input {
                color: black;
                caret-color: black;

                &::placeholder {
                    color: $dark-beige;
                }
            }
        }
    }

    .remove-like {
        color: $medium-beige;
        position: absolute;
        top: -0.2rem;
        left: -2rem;
        width: 2rem;
        height: 2rem;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;

            &:after {
                color: $light-beige;
            }
        }

        &.add-like {
            transform: rotate(45deg);
        }
    }
}