@import '../../colors.scss';

.unknown-value {
  border: 1px solid $medium-beige;
  color: $medium-beige;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  &:hover {
    cursor: pointer;
    color: $light-beige;
    border-color: $light-beige;
    border-width: 2px;
  }
}